@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --BgColor: #0a3d62;
  --startBtn: #eb3b5a;
}

body {
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

header button {
  padding: 10px 10px;
  background-color: var(--BgColor);
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

header button:hover {
  background-color: var(--startBtn);
}

.playerIcon1 {
  width: 200px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 7px 10px;
  border: none;
  text-align: center;
}

.playerIcon1 img {
  width: 150px;
  cursor: pointer;
}

.playerIcon1 .throw1,
.throw2 {
  padding: 5px 5px;
  background-color: var(--startBtn);
  color: #ffffff;
  border-radius: 2px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.playerIcon1 .throw1:hover {
  background-color: var(--BgColor);
}

@media only screen and (max-width: 700px) {
  .playerIcon1 {
    width: 110px;
    height: 100%;
  }
  .playerIcon1 img {
    width: 80px;
  }
}

.playerIcon2 {
  width: 200px;
  height: 180px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 7px 10px;
  border: none;
  text-align: center;
}

.playerIcon2 img {
  width: 150px;
  cursor: pointer;
}

.playerIcon2 .throw2:hover {
  background-color: var(--BgColor);
}

@media only screen and (max-width: 700px) {
  .playerIcon2 {
    width: 110px;
    height: 100%;
  }
  .playerIcon2 img {
    width: 80px;
  }
}

.wrapper {
  width: 250px;
  height: 250px;
  background-color: var(--BgColor);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 10px;
}

.wrapper .button-wrap {
  margin-top: 50px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group button {
  width: 50px;
  height: 50px;
  border: 0.5px inset #eb3b5a;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.button-group button:hover {
  background-color: #222f3e;
}
